body {
	font-family: 'Open Sans Condensed', sans-serif;
}

#primary-container {
	box-shadow: 0 1px 1px #ccc;
	height: 500px;
	margin: 30px auto;
	width: 900px;
}

#primary-header {
	background-color: #01b5b8;
	box-shadow: 0 1px 1px #ccc;
	padding: 20px;
}

#primary-header h1 {
	color: #fefefe;
	font-size: 2em;
}